
body {
font-family: 'Space Mono', monospace;
}

.container {
    height: 100vh;
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    gap: 3em;
}

.img {
    width: 500px;
}

h1 {
    font-size: 50px;
    margin-left: 5px;
}

.btn {
    padding: 15px 30px;
    background: var(--gray-1, #333);
    color: #FFF;
    border: none;
    margin-top: 30px;
}

p {
    color: var(--gray-2, #4F4F4F);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


@media screen and (max-width:576px) {
    .container {
        flex-direction: column;
    }

    h1 {
        margin: 0 10px;
    }

    p {
        margin: 30px 10px;
    }
    .btn {
        margin: 30px 10px;
    }
    .img {
        width: 90%;
        margin-top: 300px;
        margin-left: 15px;
    }

    .container h1 {
       font-size: 30px;
    }
}